.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}